.grid-3c-container {
  display: grid;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-2c-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  margin: 5px;
}

.global {
  font-family: "Open Sans", sans-serif;
}
